@charset "utf-8";

/* layout */
#container{display: grid;width: 1384px;height: 1073px;margin: 0 auto;padding: 50px 0 100px;}
#container>article{border: 1px solid #d6d6d6;}
article.account_wrap{grid-column: 1/2;grid-row:1/6;}
article.card_wrap{grid-column: 2/4;grid-row:1/4;}
article.loan_wrap{grid-column: 4/5;grid-row:1/6;}
article.mpoint_wrap{grid-column: 2/3;grid-row:4/6;}
article.xpoint_wrap{grid-column: 3/4;grid-row:4/6;}
article.culture_wrap{grid-row:6/8;}
article.customer_wrap{grid-row:6/8;}
article.digital_wrap{grid-row:6/8;}
article.event_wrap{grid-row:6/8;}

